@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree');
/*#23234e*/
html{
  height: 100%;
}
body{
  background-position: center center;
  padding: 0;
  margin: 0;
  font-family: 'Bai Jamjuree', sans-serif, Arial, Helvetica, sans-serif;
  background: rgba(255,92,92,1);
  background: -moz-linear-gradient(top, rgba(254,187,187,1) 0%, rgba(254,144,144,1) 45%, rgba(255,92,92,1) 100%); 
  background: -webkit-linear-gradient(top, rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); 
  background: linear-gradient(to bottom, rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 ); 

}
.overlay{  
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.help{
  border: solid 3px white;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 3px white;
  -o-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.help:hover{
  background-color: #ff5252;
  cursor: pointer;
}
.help-icon{
  font-size: 25px;
  padding: 8px 20px;
  font-weight: bold;
  color: white;
  margin: 0px;
}
.game-title{
  font-size: 40px;
  color: #23234e;
}
.container{
  width: 300px;
  margin: 0 auto;
}
.game-grid {
  padding: 0;
  margin: 0 auto;
  border: 2px solid white;
  box-sizing: border-box;
  background-color: #23234e;
}
.row{
  font-size: 0px;
  border-bottom: 2px solid white;
  box-sizing: border-box;
}
.game-grid .row:last-child{
  border-bottom: none;
}
.grid-item{
  position: relative;
  width: 98px;  
  height: 98px;               
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  border-right: 2px solid white;
  cursor: pointer;
  -o-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.grid-item:hover{
  background-color: #0c0629;
}
.row .grid-item:last-child {
  border-right: none;
}
.figure-o{
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: solid 6px white;
  border-radius: 50%;
  text-align: center;
}
.figure-x::after, .figure-x::before{
  content: "";
  width: 70px;
  height: 6px;
  background-color: white;
  display: block;
  border-radius: 6px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.figure-x::after{  
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.figure-x::before{
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.turn{
  font-size: 15px;
  color: white;
  margin-bottom: 20px;
  width: 300px;
  margin: 0 auto;
  background-color: rgba(35, 35, 78, 0.6);
  padding: 20px 0px;
}
.score-board{
  background-color: rgba(35, 35, 78, 0.6);
  font-size: 0;
  padding: 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.player-info{    
  display: inline-block;
  width: 50%;
}
.player-shape{
  display: inline-block;
}
.player-shape .figure-x::after, .player-shape .figure-x::before{
  width: 35px;
  height: 5px;
}
.float-right{
  float: right;
}
.player-shape .grid-item{
  border: none;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  cursor: default;
}
.player-shape .figure-o {
  width: 20px;
  height: 20px;
  border-width: 5px;
  font-size: 15px;
  text-align: left;
  vertical-align: middle;
}
.player-shape .grid-item:hover{
  background: none;
}
.player-name{    
  width: 50%;
  font-size: 10px;
  text-transform: uppercase;
  color: white;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
.score-container{
  background-color: #23234e;
  padding: 5px 0px;
  border-radius: 15px;
}
.player-score{
  font-size: 15px;
  color: white;
  margin: 0;
  text-align: center;
  display: inline-block;
  width: 50%;
}
.score{
  font-size: 26px;
  color: white;
  display: inline-block;
  width: 25%;
  text-align: center;
  padding: 0px;
  margin: 14px 0px;
}
.restart{    
  padding: 10px 0px 10px 0px;
  width: 100%;
  color: white;
  border: solid 3px white;
  border-radius: 50px;
  text-align: center;
  font-size: 27px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 20px;
  -o-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.restart:hover{  
  background-color: #ff5252;
  cursor: pointer;
}
.restart p{
  margin: 0;  
}
.winner-message{
  text-align: center;
  color: white;
  font-size: 18px;
}
/*helpers*/
@media screen and (max-width: 480px){
  html{
    height: auto;
  }
  .game-title {
    font-size: 30px;
  }
  .help{
    right: 10px;
    top: 20px;
  }
}
.disable{
  pointer-events: none;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}